@import-normalize;

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");

body {
  margin: 0;
  height: 100vh;
  background-image: url("../background_image_white.png");
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}
* {
  font-family: "Merriweather", sans-serif !important;
}
