@import-normalize;

body {
  margin: 0;
  background-image: url("../background_image_white.png");
  background-position: center top;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}
