.footer {
  font-size: 0.875rem;
}

.square {
  border-radius: 0;
  transition: 0.3s;
}
.link a {
  font-size: 1rem;
  text-decoration: none;
}
.link a:hover {
  text-decoration: dotted;
}
.report {
  border-radius: 0;
  color: #002a5c;
  border: 1px solid black;
  transition: ease-in 0.2s;
}

.report:hover {
  color: white;
  background-color: #002a5c;
}

.copy {
  font-size: 0.75rem;
  cursor: poiter;
}
.copy:hover {
  text-decoration: underline;
}
