.input-group button {
  border-radius: 0;
}
.add-groupchat {
  border-radius: 0;
  color: white;
  transition: ease-in 0.2s;
  background-color: #002a5c;
  border: 1px solid white;
}
.dropdown-toggle {
  transition: ease-in 0.2s;
}
.add-groupchat:hover {
  background-color: white;
  color: #002a5c;
}
.input-group-text {
  background-color: white;
  border-radius: 0;
}
.alert {
  border-radius: 0 !important;
}
.dropdown-item:hover {
  color: #1e2125;
  background-color: hsl(193, 100%, 35%, 0.2);
}

.dropdown-menu {
  border-radius: 0;
}
.no-course-found {
  font-size: 1.5rem;
}
@media (max-width: 767.98px) {
  .course-title {
    text-align: center;
  }
  .lower-button-padding {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
}
